.header {
  position: relative;
  height: 60px;
  background-color: #222222;
  display: flex;
  align-items: center;

  &__container {
    box-sizing: content-box;
    width: 100%;
    margin: 0 auto;
    padding: 0 34px;
    max-width: 1200px;
    display: flex;
    align-items: center;

    @media (max-width: 980px) {
      & {
        justify-content: space-between;
      }
    }
  }

  &__logo {
    margin-right: 40px;
  }

  &__nav {
    flex: 1 1 auto;
  }
}

.nav {
  @media (max-width: 980px) {
    & {
      display: none;
    }
  }

  &__items {
    display: flex;
  }

  &__item {
    position: relative;
    padding-right: 25px;

    &:last-child {
      padding-right: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 100;
    line-height: 60px;

    &:hover {
      color: #3399ff;
      transition: color 0.15s linear;

      & .nav__caret-down-ico-color {
        fill: #3399ff;
        transition: fill 0.15s linear;
      }
    }
  }

  &__sub-items {
    visibility: hidden;
    opacity: 0;
    padding: 15px 0;
    position: absolute;
    width: 210px;
    background-color: #222222;
    box-shadow: 0 1px 6px rgb(0 0 0 / 8%);
    border-radius: 3px;

    &--visible {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.3s linear;
    }
  }

  &__sub-link {
    padding: 12px 20px;
    font-size: 13px;
    color: #ffffff;
    font-weight: 100;

    &:hover {
      background-color: #111111;
    }
  }

  &__caret-down-ico {
    width: 10px;
    height: 10px;
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 25px;

  @media (max-width: 980px) {
    & {
      display: none;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

  &__link {
    &:hover {
      & .social__icon-color {
        fill: #3399ff;
        transition: fill 0.15s linear;
      }
    }
  }
}

.nav-mobile {
  display: none;

  @media (max-width: 980px) {
    & {
      display: block;
    }
  }

  &__icon {
    display: block;
    width: 24px;
    height: 28px;
  }

  &__menu {
    position: absolute;
    right: -100%;
    top: 0;
    width: 100%;
    min-width: 140px;
    max-width: 440px;
    transition: right 0.5s linear;

    &--visible {
      right: 0;
      transition: right 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
    }
  }

  &__header {
    padding: 110px 30px 0;
    height: 160px;
    background-color: #3399ff;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    color: #fff;
    font-size: 25px;
    font-weight: 100;
  }

  &__close-menu-svg {
    width: 24px;
    height: 24px;
  }

  &__items {
    padding-top: 20px;
    background-color: #ffffff;
  }

  &__item {
    padding: 16px 30px;

    &--retreat {
      padding: 0;
    }
  }


  &__link, &__item-title {
    display: flex;
    justify-content: space-between;
    color: #667;
    font-size: 14px;
    font-weight: 300;
  }

  &__dropdown-menu-svg {
    width: 16px;
    height: 16px;

    &--active {
      transform: rotate(90deg);
    }
  }
}

.dropdown-menu {
  display: none;

  &--visible {
    display: block;
  }

  &__item {
    position: relative;
    padding: 16px 30px;
    margin-left: 30px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      height: 48px;
      width: 1px;
      background-color: #eee;
    }
  }

  &__link {
    color: #667;
    font-size: 14px;
    font-weight: 300;
  }
}