<div class="about-product">
  <div class="about-product__container">
    <h2 class="about-product__title">
      FX PROTECT — це бренд, що спеціалізується на створенні високоякісних продуктів для індустрії автомобільних деталей.
    </h2>
    <div class="about-product__content">
      <p class="about-product__text">
        Ми створюємо продукти FX Protect на основі інноваційних рішень і найвищих стандартів якості. Ми дбаємо про те, щоб продукти, які ми розробляємо, відповідали суворим вимогам ринку та задовольняли потреби навіть найвибагливіших клієнтів.
      </p>
      <a class="about-product__button" href="#">
        Про родукт
        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
          <path fill="currentColor" d="M10.586 6.586a2 2 0 0 0 0 2.828L12.172 11H4.928a2 2 0 0 0 0 4h7.244l-1.586 1.586a2 2 0 1 0 2.828 2.828L19.828 13l-6.414-6.414a2 2 0 0 0-2.828 0z"/>
        </svg>
      </a>
    </div>
  </div>
</div>